.container{
  position: absolute;
  top: 70px;
  left:0px;
  right:0px;
  bottom: 0px;
  background-color: var(--hero-bg-color);
}

section{
  background-color: var(--hero-bg-color);

}
.features{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  text-align: center;
  margin-top: 300px;
}
.features h1{
  margin-top: 90px;
  margin-bottom: 100px;
}

.feature-grid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.hero-text{
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 200px;
}
.hero-text h1{
  margin-bottom: 0px;
}

.hero-text span{
  color: #949494;
  font-size: 30px;
}

