.container{
  background-color: #444444;
  padding: 10px;
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.layout{
  display: flex;
  flex-direction: column;
  text-align:left;
}

h2{
  color: white;
}
