body{
  margin: 0;
}

.links{
  position: absolute;
  top: 20px;
  right: 20px;
}

.container{
  background-color: var(--topbar-bg-color);
  position: fixed;
  z-index: 1000;
  left:0px;
  backdrop-filter: blur(3px);
  right:0px;
  top: 0px;
  height: 50px;
  max-height: 80px;
  padding: 10px;
}

.options{
  display:flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin-top: 10px;
  gap: 20px;

}

.options a{
  font-size: 30px;
}

.home{
  position: absolute;
  top: 20px;
  left: 10px;
}

button{
  background: transparent;
  border: none;
  color: white;
  padding: 5px;
  font-size: 20px;
}

a:hover{
  color: var(--hover-color);
}

