body{
  margin: 0;
}

.container{
  background-color: var(--topbar-bg-color);
  position: absolute;
  left:0px;
  right:0px;
  top: 0px;
  height: 50px;
  max-height: 80px;
  padding: 10px;
}

.options{
  display:flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin-top: 10px;

}

.home{
  position: absolute;
  top: 20px;
  left: 10px;
}

button{
  background: transparent;
  border: none;
  color: white;
  padding: 5px;
  font-size: 20px;
}

button:hover{
  background-color: #444444;
}

.selectedButton{
  background-color: #444444;

}
