:root {
  --bg-color: rgba(23,23,23);
  --grey-color: #262626;
  --blue-color: #3B82F6;
  --hover-color: rgba(163,163,163);

}

body{
  background-color: var(--bg-color);
  font-family: Arial;
}

a{
  color: white;
  text-decoration: none;
}

h1{
  font-size: 100px;
  color: white;
}
span{
  color: white;
}


