:root {
  --topbar-bg-color: #1E1E1E;
  --hero-bg-color: #2C2C2C;

}

body{
  background-color: var(--hero-bg-color);
  font-family: Arial;
}

a{
  color: white;
  text-decoration: none;
}

h1{
  font-size: 100px;
  color: white;
}
span{
  color: white;
}


