.container{
  position: absolute;
  top: 70px;
  left:0px;
  right:0px;
  bottom: 0px;
  background-color: var(--hero-bg-color);
}

.downloads{
  display: flex;
  margin-bottom: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: var(--bg-color);
}

.downloads a{
  margin-bottom: 300px;
}

.linux{
  background-color: var(--blue-color);
  border-radius: 10px;
  height: 90px;
  width: 250px;
  padding: 10px;
  transition: 0.3s ease;
}

.lurker-chat{
  float: right;
  margin-right: 200px;
  margin-top: -450px;
}

.linux img{
  float: left;
  margin-top: 20px;
}

.linux h2{
  color: white;
  font-size: 20px;
  margin-top: 40px;
  font-weight: bold;

}

.linux:hover{
  transform: scale(1.02);
}

section{
  background-color: var(--hero-bg-color);

}
.features{
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  text-align: center;
  margin-top: 300px;
}

.features-box{
  background-color: var(--grey-color);
  padding: 10px;
  width: 350px;
  height: 200px;
  border-radius: 10px;
}
.features-box h1{
  font-size: 30px;
}

.layout{
  display: flex;
  flex-direction: column;
  text-align:left;
}

h2{
  color: white;
}



.feature-grid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}


.hero-text{
  display: grid;
  margin-top: 200px;
  justify-content: left;
  margin-left: 400px;
  text-align: center;
}


.preview{
  display: flex;
  justify-content: right;

}

.hero-text h1{
  margin-bottom: 0px;
  margin-left: -80px;
}

.hero-text span{
  color: #949494;
  font-size: 30px;
}

